---
import Layout from "../layouts/Layout.astro";
import { Link } from "../components/Link";
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <div class="row">
      <div class="col">
        <Link url="https://react-tutorial.app" text="React Tutorial" primary />
        <Link
          url="https://angular.dev/tutorials/first-app"
          text="Angular Tutorial"
        />
      </div>
    </div>
  </div>
</Layout>
