<script>
  const lightModeButton = document.querySelector('.light');
  const darkModeButton = document.querySelector('.dark');
  const body = document.querySelector('body');

  lightModeButton?.addEventListener('click', () => {
    body?.setAttribute('data-bs-theme', 'light');
  });
  
  darkModeButton?.addEventListener('click', () => {
    body?.setAttribute('data-bs-theme', 'dark');
  });
</script>

<div class="btn-group float-end">
  <button class="btn btn-light light" id="light">Light</button>
  <button class="btn btn-dark dark" id="dark">Dark</button>
</div>
